<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="dashboard.css">
    <!-- <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script> -->
</head>
<body>
    <header>
        <div style="display: flex; flex-direction: row;">
            <div>
                <input type="checkbox" id="openSideMenu" class="openSideMenu">
                <label for="openSideMenu" class="menuIconToggle">
                    <div class="hamb-line dia part-1"></div>
                    <div class="hamb-line hor"></div>
                    <div class="hamb-line dia part-2"></div>
                </label>
                <nav>
                    <ul>
                        <li style="background-color: #feefc3;border-radius: 0 25px 25px 0;"><span class="material-symbols-outlined" style="padding: 10px;">lightbulb</span><a href="#">Notes</a></li>
                        <li style="border-radius: 0 25px 25px 0;"><span class="material-symbols-outlined" style="padding: 10px;">notifications</span><a href="#">Remainders</a></li>
                        <li style="border-radius: 0 25px 25px 0;"><span class="material-symbols-outlined" style="padding: 10px;">edit</span><a href="#">Edit labels</a></li>
                        <li style="border-radius: 0 25px 25px 0;"><span class="material-symbols-outlined" style="padding: 10px;">archive</span><a href="#">Archive</a></li>
                        <li style="border-radius: 0 25px 25px 0;"><span class="material-symbols-sharp" style="padding: 10px;">delete</span><a href="#">Trash</a></li>
                    </ul>
                </nav>   
            </div>            
            <div style="margin-left: 60px;margin-top: 16px;">
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="">                
            </div> 
            <div style="font-size: 22px;">
                <p style="margin-top: 20px;margin-bottom: 1rem;" >Fundoo</p>
            </div>  
            <div class="row  d-flex justify-content-left align-items-center" style="padding-left: 50px;">
                <div class="col-md-5">
                    <div class="form"> 
                        <i class="fa fa-search"></i> 
                        <input type="text" class="form-control form-input" placeholder="Search anything..." style="background-color: #ced4da;"> 
                        <span class="left-pan"></span> 
                    </div>    
                </div>
                <div class="col-md-4 iconsHead">
                    <span class="material-symbols-sharp">refresh</span>
                    <span class="material-symbols-outlined">splitscreen</span>
                    <span class="material-symbols-outlined">settings</span>
                    <span class="material-symbols-outlined">apps</span>
                    <span class="material-symbols-outlined">account_circle</span>
                </div>
            </div>     
        </div>    
    </header>
   
    <!-- <div class="container"> -->
        <div class="row" style="width: 50%;padding: 5px;margin-left: 275px;position: absolute;">
            <main>
                <div ng-if="show" class="createNoteField">
                    <input type="text" ng-model="note.title" class="modal-title" placeholder="Title">
                    <input type="text" ng-model="note.description" class="modal-text" placeholder="Take a note...">
                    <div class="iconsCreateNote">
                        <span class="material-symbols-sharp">add_alert</span> 
                        <span class="material-symbols-sharp">person_add</span>
                        <span class="material-symbols-sharp">palette</span>
                        <span class="material-symbols-sharp">image</span>
                        <span class="material-symbols-sharp">archive</span>
                        <span class="material-symbols-sharp" ng-click="deleteNote(note)" style="padding: 10px;">delete</span>   
                        <button type="button" id="form-close-button" ng-click="createNoteSubmit()">Close</button>
                    </div>
                    
                </div>
                <div ng-if="!show" id="form-container">
                    <!-- <form id="form"> -->
                        <input id="note-text" placeholder="Take a note..." type="text" ng-click="modalOpen()">
                        <div class="iconsTakeNote">
                            <span class="material-symbols-sharp">check_box</span>
                            <span class="material-symbols-sharp">brush</span>
                            <span class="material-symbols-sharp">image</span>
                        </div>
                    <!-- </form> -->
                </div>              
                <!-- get note -->
                <div class="container-getNote">
                    <div class="getNote" ng-repeat="note in notes" ng-click="getNoteModalOpen($event,note)" data-toggle="modal">
                        <h3 style="padding: 10px;margin: 0px;">{{note.title}}</h3> 
                        <h3 style="padding: 10px;margin: 0px;">{{note.description}} </h3>  
                        <div class="iconsGetNote">
                            <span class="material-symbols-sharp">add_alert</span> 
                            <span class="material-symbols-sharp">person_add</span>
                            <span class="material-symbols-sharp">palette</span>
                            <span class="material-symbols-sharp">image</span>
                            <span class="material-symbols-sharp">archive</span>
                            <span class="material-symbols-sharp" ng-click="deleteNote(note)" style="padding: 10px;cursor: pointer;">delete</span>   
                        </div>
                        
                        <!-- <span class="material-symbols-sharp"><a class="navtext" href="#"><span class="deleteSpan">Delete</span></a>more_vert</span> -->
                    </div>
                    
                </div> 
            </main>                
        </div>
    <!-- </div> -->
    
    
    <!-- <div style="margin-top: 135px;position: absolute;top: 0;">
        <ul style="list-style: none;">
            <li style="padding-bottom: 20px;"><i class="fa fa-lightbulb-o" aria-hidden="true"
                        style="color: black;font-size: 32px;"></i></li>
            <li style="padding-bottom: 20px;margin-left: -6px;"><i class="fa fa-bell-o" aria-hidden="true"
                        style="color: black;font-size: 32px;"></i> </li>
            <li style="padding-bottom: 20px;"><i class="fa fa-pencil" aria-hidden="true"
                        style="color: black;font-size: 32px;"></i></li>
            <li style="padding-bottom: 20px;"><i class="fa fa-archive" aria-hidden="true"
                        style="color: black;font-size: 32px;"></i></li>
            <li><i class="fa fa-trash-o" aria-hidden="true" style="color: black;font-size: 32px;"></i></li>
        </ul>
    </div>    -->
    
</body>
</html>