<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="signin.css">
</head>

<body> -->
    <div class="main-content">
        <div class="container">
            <div>
                <div>
                    <div style="text-align: center;">
                        <span class="font" style="color: #4285f4;font-size: 20px;">F</span>
                        <span class="font" style="color: red;font-size: 20px;">u</span>
                        <span class="font" style="color:#f4b400;font-size: 20px;">n</span>
                        <span class="font" style="color: #4285f4;font-size: 20px;">d</span>
                        <span class="font" style="color: #0f9d58;font-size: 20px;">o</span>
                        <span class="font" style="color: red;font-size: 20px;">o</span>
                    </div>
                    <div>
                        <h1 style="text-align: center; margin-top: 12px;font-size: 22px;font-weight: 400;font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">
                            Sign in
                        </h1>
                    </div>
                    <div>
                        <h2 style="text-align: center; margin-top: 12px;font-size: 22px;font-weight: 400;font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;">
                            Use Your Google Account
                        </h2>
                    </div>
                    <div>
                        <form>
                            
                            <div style="margin-top: 5%;display: grid;">
                                <input type="email"  ng-model="email" class="InputEmail" placeholder="Email ID" required>
                            </div>
                            <div style="margin-top: 5%;display: grid;">
                                <input type="password" ng-model="password" class="Input" placeholder="Password" required>
                                <a href="#" style="color: #4285f4;font-size: 16px;text-decoration: none; margin-top: 5%;">Forget email?</a>
                            </div>
                            <p style="font-size: 13px;margin-top: 10%;">Not your computer? Use Guest mode to sign in privately.</p> 
                            
                            <p style="font-size: 15px;color: #4285f4;">Learn more</p>
                               
                            <div style="display: flex;justify-content: space-between;margin-top: 18%;">
                                <div>
                                    <a href="#" style="color: #4285f4;font-size: 16px;text-decoration: none;">Create account</a>
                                </div>
                                <div>
                                    <button type="button" ng-click="signinF()" class="Button">Next</button>
                                </div>
                            </div>                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </body>

</html> -->
